# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/FRONTEND/node_modules
/BACKEND/node_modules
/FRONTEND/.pnp
/FRONTEND/.pnp.js

# testing
/FRONTEND/coverage

# production
/FRONTEND/build

# misc
FRONTEND/.DS_Store
FRONTEND/.env.local
FRONTEND/.env.development.local
FRONTEND/.env.test.local
FRONTEND/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
